*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f6f7fb;
  color:#111;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

.section-title{
  font-size:36px;
  font-weight:700;
  text-align:center;
  margin-bottom:60px;
}
