.header {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #4f46e5;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/* hamburger hidden desktop */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* mobile */
@media(max-width:768px) {

    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: -100%;
        background: #fff;
        width: 220px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 30px;
        transition: 0.3s;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links a {
        margin: 15px 0;
        font-size: 18px;
    }
}