.verify-hero{
  background:linear-gradient(135deg,#4f46e5,#9333ea);
  color:white;
  text-align:center;
  padding:90px 0;
}

.verify-box{
  text-align:center;
  padding:80px 0;
}

.verify-box input{
  padding:12px;
  width:260px;
  margin-right:10px;
}

.verify-box button{
  padding:12px 20px;
  background:#4f46e5;
  color:white;
  border:none;
  border-radius:6px;
}
